<div id="section-hero">
	<div class="container">

		<div class="row">
			<div class="twelve columns">
				<%= image_tag "catalant-logo-white.png", alt: "catalant-logo", class: "logo"%>
			</div>
		</div>

		<div class="row intro">
			<div class="six columns description">
				<h1 class="inverted">
					Tap into the knowledge of 30,000 business experts.
				</h1>
				<div class="line-break"></div>
				<p class="inverted">
					Send a text message and get connected to a group of business experts with the knowledge you need. If you find someone you like, hire them to complete the project.
				</p>
				<a class="button button-primary mobile-only" href="sms://+16172061927">Send Message</a>
				<h1 class="desktop-only number">
					(617) 206-1927
				</h1>
				<p class="subtitle inverted">
					Standard text messaging and/or data charges may apply.
				</p>
			</div>
			<div class="six columns">
				<%= image_tag "phone.png", alt: "message examples", class: "phone"%>
			</div>
		</div>

	</div>
</div>